@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}
.grid-container {
    display: flex;
    gap: 0;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
}


h1{
    text-align: center;
    margin: 20px;
    font-size: 3em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
footer{
    text-align: center;
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: fixed;
    bottom: 40px;
    width: 100%;
}
.btnContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
button{
    padding: 10px 20px;
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #11B5E4;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}